<div class="tab {{#if tab.active}} active{{/if}}" data-group="sheet" data-tab="aboutFace">
	<div class="form-group">
		<label>{{localize "about-face.sceneConfig.scene-enabled.name"}}</label>
		<div class="form-fields">
			<input type="checkbox" name="flags.about-face.sceneEnabled" data-dtype="Boolean" {{checked sceneEnabled}} />
		</div>
		<p class="hint">{{localize "about-face.sceneConfig.scene-enabled.hint"}}</p>
	</div>
	<fieldset>
		<div class="form-group">
			<label>{{localize "about-face.sceneConfig.lockRotation.name"}}</label>
			<div class="form-fields">
				<input type="checkbox" name="flags.about-face.lockRotation" data-dtype="Boolean" {{checked lockRotation}} />
			</div>
			<p class="hint">{{localize "about-face.sceneConfig.lockRotation.hint"}}</p>
		</div>
		<button type="button" data-target="lockRotation" data-action="aboutFaceApply">
			{{localize "about-face.sceneConfig.apply"}}
		</button>
	</fieldset>
	<fieldset>
		<div class="form-group">
			<label>{{localize "about-face.sceneConfig.lockArrowRotation.name"}}</label>
			<div class="form-fields">
				<input type="checkbox" name="flags.about-face.lockArrowRotation" data-dtype="Boolean" {{checked lockArrowRotation}} />
			</div>
			<p class="hint">{{localize "about-face.sceneConfig.lockArrowRotation.hint"}}</p>
		</div>
		<button type="button" data-target="lockArrowRotation" data-action="aboutFaceApply">
			{{localize "about-face.sceneConfig.apply"}}
		</button>
	</fieldset>
</div>